@import url('https://fonts.googleapis.com/css2?família=Aberto+Sans:wght@300; 500; 700&família=Poppins:wght@100; 200; 300; 400&display=swap');
:root {
    --color-primary-1:#ffe53bd8;
    --color-primary-2: #ff6a25da;
    
    --color-neutral-1:#e5e7eb;
    --color-neutral-2: #343434;
    --color-neutral-3: #262626;

    --linear-gradient: linear-gradient(120deg, var(--color-primary-1), var(--color-primary-2));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, var(--color-primary-1), var(--color-primary-2));
}

.calculator {
    background: var(--color-neutral-3);
    color: var(--color-neutral-1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .323);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.input-container {
    margin: 25px 0px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group input {
    background: var(--color-neutral-2);
    color: var(--color-neutral-1);
    padding: 8px;
    border: 1px solid var(--color-primary-1);
    border-radius: 4px;
    width: 100px;
    font-size: 16px;
    text-align: center;
}

.input-group input:focus-visible, #calculate:focus-visible {
    outline: transparent;
    box-shadow: 2px 2px 10px var(--color-primary-2);
}

.input-group span {
    background-color: var(--color-neutral-2);
    padding: 0px 15px;
}

.input-group p {
    background: var(--linear-gradient);
    border-radius: 4px;
    padding: 10px;
    width: 100px;
}

.input-text {
    margin: 15px;
}

#calculate {
    border: none;
    background: var(--linear-gradient);
    color: var(--color-neutral-1);
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;

    transition: background-color 0.5s ease;
}

#calculate:hover, #limpar_conta:hover {
    background-color: var(--color-primary-2);
}
#result {
    /* font-size: 14px; */
    font-weight: bolder;
}